.container {
  padding: 20px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: var(--primary-color);
  font-size: 3rem;
  font-family: 'Jost', sans-serif;
  font-weight: medium;
}
