/* .profile {
    padding: 20px;
    font-family: Arial, sans-serif;
  } */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  /* //background-color: #202C83; */
  background-color: #202c83;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

/* .profileHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .backButton {
    font-size: 20px;
  }
  
  .profileInfo {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .profilePic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  } */

/* .profileNameEdit {
    display: flex;
    align-items: center;
  } */

/* .editButton {
    margin-left: 10px;
  } */

.settings {
  margin-top: 30px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.field,
.slider-field {
  margin-top: 10px;
}

.sliderField input[type="range"] {
  width: 100%;
}

.logoutButton,
.deleteAccountButton {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.deleteAccountButton {
  background-color: #ff4c4c;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.profileHeader {
  background-color: #283593;
  color: white;
  text-align: center;
  padding: 40px;
  position: relative;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
}

.backButton {
  position: absolute;
  left: 10px;
  top: 10px;
  background: none;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 10px;
}

.profileNameEdit {
  display: flex;
  align-items: center;
}

.editButton {
  margin-left: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}
