.likeCircle {
  width: 62px;
  height: 62px;
  background: var(--primary-color);
  border-radius: 50%;
}

.likeCircle:hover {
  transform: scale(1.1);
}

.likeCircle:active {
  transform: scale(0.95);
}
