.slider {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.profileCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 600px;
  align-items: center;
  border-radius: 2.188rem;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.profileImage {
  border-radius: 2.188rem;
  object-fit: cover;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
}

.controls button {
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 350px;
  margin: 1rem auto -1rem;
  position: relative;
  z-index: 10;
  align-items: center;
}

.likeButton {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.dislikeButton {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.verifiedBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  color: white;
  border-radius: 50%;
  font-size: 0.875rem;
  font-weight: bold;
  margin-left: 10px;
  box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.profile–°ard {
  position: relative;
}

.photoCounter {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  text-shadow: none;
}

.profileImage {
  pointer-events: none;
  user-select: none;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.name {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

  font-family: 'Jost';
  font-size: 2rem;
  font-weight: medium;
  margin-left: 1rem;
}

.bio {
  position: absolute;
  bottom: 30px;
  left: 20px;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

  font-family: 'Jost';
  font-size: 1rem;
  font-weight: 200;
  margin-left: 1rem;
  max-width: 250px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  white-space: normal;
  word-wrap: break-word;
}

.nameWithBioOne {
  position: absolute;
  left: 20px;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

  font-family: 'Jost';
  font-size: 2rem;
  font-weight: medium;
  margin-left: 1rem;
  bottom: 50px;
}

.nameWithBioTwo {
  position: absolute;
  left: 20px;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

  font-family: 'Jost';
  font-size: 2rem;
  font-weight: medium;
  margin-left: 1rem;
  bottom: 70px;
}

.nameWithGoal {
  position: absolute;
  left: 20px;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

  font-family: 'Jost';
  font-size: 2rem;
  font-weight: medium;
  margin-left: 1rem;
  bottom: 50px;
}

.lifestyle,
.interests {
  margin-top: 530px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 1;
  position: absolute;
  left: 20px;
  width: 260px;
}

.lifestyle ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lifestyle li {
  margin-bottom: 5px;
}

.interestsList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.interestTag {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8em;
}

.emptyState {
  text-align: center;
}

.like {
  margin-top: 5px;
}

.distance {
  position: absolute;
  bottom: 560px;
  left: 20px;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);

  font-family: 'Jost';
  font-size: 1.2rem;
  font-weight: 300;
  margin-left: 1rem;
}

.goal {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 1em;
  margin-top: 530px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  z-index: 1;
  position: absolute;
  left: 30px;
  display: flex;
  gap: 5px;
  height: 30px;
  align-items: center;
  font-weight: 300;
}

.goalIcon {
  margin-top: 2px;
}
