.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1rem;
}

.buttonWithIcon {
  background-color: white;
  color: black;
  border: 1px solid #e0e0e0;
  border-radius: 1.875rem;
  font-weight: 500;
  font-family: 'Jost', sans-serif;
  cursor: pointer;
  transition:
    background-color 0.3s,
    opacity 0.3s;
  outline: none;
  text-align: center;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 290px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 270px;
}

.buttonWithIcon:hover {
  background-color: #f5f5f5;
}

.buttonWithIcon.disabled {
  background-color: #f5f5f5;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
}

.buttonWithIcon.disabled:hover {
  background-color: #f5f5f5;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  font-weight: 500;
  flex: 1;
  text-align: center;
  margin-right: 1.5rem;
}
