.tag {
  background-color: #f0f0f0;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
  position: relative;
}

.commonInterest {
  background-color: #d6e4ff;
  border: 1px solid var(--primary-color);
  color: var(--secondary-color);
}

.commonBadge {
  position: absolute;
  top: -8px;
  right: -5px;
  background-color: var(--primary-color);
  color: var(--header-text-color);
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 10px;
}
