.personCard {
  margin-top: 140px;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   margin-top: 10px;
}

.appName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #202c83;
  font-size: 40px;
  font-family: "Jost", sans-serif;
  font-weight: medium;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 480px) {
  .appName {
    font-size: 40px;
  }
}


.spacer {
  width: 40px; /* Match the approximate width of the filtersIcon */
}

.filtersIcon {
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 40px;
}